
/*ELEMENTOS DO HEADER*/

@media screen and (max-width: 2500px) {

    /* ------- menu hamburger --------- */
    
    header nav#nav-esquerda{
        justify-content: space-between;
    }

    header nav#nav-esquerda ul#icone-menu{
        display: flex;
    }

    header nav#nav-esquerda ul#icone-menu li#menuX{
        display: none;
    }

}


/* ------------ menu -------------*/

    header nav#nav-esquerda ul.menu-principal{
        flex-direction: column;
        width: 100%;
        height: 55vh;
        background: linear-gradient(rgb(7, 7, 7) 0%, rgb(5, 5, 5) 45%, rgba(7, 8, 7, 0.9) 100%);
        padding-top: .5rem;
        align-items: center;

        position: absolute;
        top: 9.3rem;
        right: 0;
        z-index: 999;


        display: none;
    }

    header nav#nav-esquerda ul.menu-principal li{
        margin: .5rem;
        margin-left: 1rem;
    }

    header nav#nav-esquerda ul.menu-principal li a{
        font-size: 120%;
    }
    

    /* ------- ELEMENTOS DO FOOTER ------- */

    @media screen and (max-width: 765px) {
        footer div.footer-container div.footer-info{
            width: 95%;
        }

        footer div.footer-container div.footer-info div.cartoes div.footer-img-cartoes{
            max-width: 350px;
        }

        footer div.endereco p{
            max-width: 330px;
        }

        footer span.autorais{
            max-width: 370px;
        }

       
        
    }




